sudo: false
language: php

services:
  - mongodb

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: DRIVER_VERSION=stable LEGACY_DRIVER_VERSION=stable COMPOSER_FLAGS="--prefer-dist --prefer-lowest" SERVER_VERSION=3.0
      addons:
        apt:
          sources:
            - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.0 multiverse"
              key_url: "https://www.mongodb.org/static/pgp/server-3.0.asc"
            - "mongodb-upstart"
          packages: ['mongodb-org-server']
    - php: 5.6
      env: DRIVER_VERSION=stable SERVER_VERSION=3.4
      addons:
        apt:
          sources:
            - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.4 multiverse"
              key_url: "https://www.mongodb.org/static/pgp/server-3.4.asc"
            - "mongodb-upstart"
          packages: ['mongodb-org-server']
    - php: 7.0
      env: DRIVER_VERSION=stable SERVER_VERSION=3.4
      addons:
        apt:
          sources:
            - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.4 multiverse"
              key_url: "https://www.mongodb.org/static/pgp/server-3.4.asc"
            - "mongodb-upstart"
          packages: ['mongodb-org-server']
    - php: 7.1
      env: DRIVER_VERSION=stable SERVER_VERSION=3.4
      addons:
        apt:
          sources:
            - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu precise/mongodb-org/3.4 multiverse"
              key_url: "https://www.mongodb.org/static/pgp/server-3.4.asc"
            - "mongodb-upstart"
          packages: ['mongodb-org-server']

before_install:
  - pecl install -f mongodb-${DRIVER_VERSION}
  - composer update ${COMPOSER_FLAGS}
  - if [ "x$LEGACY_DRIVER_VERSION" != "x" ]; then yes '' | pecl -q install -f mongo-${LEGACY_DRIVER_VERSION}; fi

script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
