dist: trusty
sudo: false
language: php

services:
  - mongodb

# Note: latest PHP version is tested with coverage
php:
  - 7.0
  - 7.1

env:
  global:
    - DRIVER_VERSION="stable"
  matrix:
    - DRIVER_VERSION="stable"
    - DRIVER_VERSION="1.3.4"

addons:
  apt:
    sources:
      - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.4 multiverse"
        key_url: "https://www.mongodb.org/static/pgp/server-3.4.asc"
      - "mongodb-upstart"
    packages: ['mongodb-org-server']

before_install:
  - pecl install -f mongodb-${DRIVER_VERSION}
  - composer update ${COMPOSER_FLAGS}

script:
  - vendor/bin/phpunit

jobs:
  include:
    # Run tests with coverage
    - stage: test
      php: 7.2
      script:
        - vendor/bin/phpunit --coverage-clover=coverage.clover
      after_script:
        - wget https://scrutinizer-ci.com/ocular.phar
        - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

    # Test against legacy driver to ensure validity of the test suite
    - stage: Test
      php: 5.6
      install:
        - yes '' | pecl -q install -f mongo

    # Test against set of lowest dependencies
    - stage: Test
      php: 5.6
      env: DRIVER_VERSION="1.2.0" COMPOSER_FLAGS="--prefer-dist --prefer-lowest"
      addons:
        apt:
          sources:
            - sourceline: "deb [arch=amd64] https://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.0 multiverse"
              key_url: "https://www.mongodb.org/static/pgp/server-3.0.asc"
            - "mongodb-upstart"
          packages: ['mongodb-org-server']

    - stage: Code Quality
      env: CODING_STANDARDS
      php: 7.1
      script:
        - ./vendor/bin/phpcs

cache:
  directories:
    - $HOME/.composer/cache
